{# called from ../issues_pages.html #}

{% load static from staticfiles %}

<div class="search_results_ctrl row">
  <div class="col-md-4">
    <span class="nav">
      {% if issue.previous %}
        <a class="btn btn-default"
          href="{% url 'openoni_issue_pages' issue.previous.title.lccn issue.previous.date_issued issue.previous.edition %}">
          <strong>Previous Issue</strong>
        </a>
      {% else %}
        <button class="btn btn-default"
          disabled="disabled">Previous Issue</button>
      {% endif %}
      {% if issue.next %}
        <a class="btn btn-default"
          href="{% url 'openoni_issue_pages' issue.next.title.lccn issue.next.date_issued issue.next.edition %}">
          <strong>Next Issue</strong>
        </a>
      {% else %}
        <button class="btn btn-default"
          disabled="disabled">Next Issue</button>
      {% endif %}
    </span>
  </div> {# /col-md-3 #}

  {% if paginator.num_pages > 1 %}
    <div class="col-md-3">
      <form action="" method="GET" class="jumptopage" name="page_number_form">
        <label for="jumptopage">Jump to page:</label>
          <input class="std" type="text" id="jumptopage" name="page" value=""
            size="2">
        <input type="submit" class="btn btn-primary" value="Go" />
      </form>
    </div> {# /col-md-3 #}

    <div class="col-md-5">
      <nav aria-label="Pages" class="pull-right">
        <ul class="pagination pagination-sm">
          {% if page.has_previous %}
            <li>
              <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition previous_page_number %}"
                aria-label="Previous Page">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <span aria-hidden="true">&laquo;</span>
            </li>
          {% endif %}

          {% for page_number in page_range_short %}
            {% ifequal page_number "..." %}
              <li class="disabled">
                <a>…</a>
              </li>
            {% else %}
              {% ifequal page_number page.number %}
                <li class="active" aria-current="true">
              {% else %}
                <li>
              {% endifequal %}
                <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition page_number %}"
                  aria-label="Page {{page_number}}">{{page_number}}</a>
              </li>
            {% endifequal %}
          {% endfor %}

          {% if page.has_next %}
            <li>
              <a href="{% url 'openoni_issue_pages_page_number' title.lccn issue.date_issued issue.edition next_page_number %}"
                aria-label="Next Page">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <span aria-hidden="true">&raquo;</span>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div> {# /col-md-6 #}
  {% else %}
    <div class="col-md-9"></div>
  {% endif %}
</div>{# end class:search_results_ctrl #}
