{% extends "__l_main.html" %}

{% load static from staticfiles %}
{% load humanize %}

{% block subcontent %}

<div class="page_search">
    <form action="{% url 'openoni_search_pages_results' %}" method="get" name="fulltext2" id="fulltext2">
        <fieldset>
            <legend>Limit Search</legend>
            <div class="row">
                <!-- state -->
                <div class="col-md-3"> <label for="id_states">Select States:</label>
                {{ pages_form.state }} </div>
                <!-- newspaper -->
                <div class="col-md-3"> <label for="id_lccns">Or Select Newspapers:</label>
                {{ pages_form.lccn }} </div>
            </div>
            <div class="row">
                <!-- page -->
                <div class="col-md-3">
                    <label for="id_sequence">Specific page</label>
                    {{ pages_form.sequence }}
                </div>
                <div class="col-md-3"
                    <label for="id_language">Language</label>
                    {{ pages_form.language }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select Date Range</legend>
            <!-- date -->
            <!-- send a hidden field specifying that this is a date range -->
            <input type="hidden" name="dateFilterType" alt="dateFilterType" value="yearRange"/>
            <p class="help-block">Newspaper pages are available for newspapers published between <strong>{{pages_form.fulltextStartYear}}-{{pages_form.fulltextEndYear}}</strong></p>
            <div class="row">
                <div class="col-md-2">
                    <label for="id_date_from">from</label>
                    <input id="id_date_from" name="date1" class="span2 form-control" type="text" data-date-format="mm/dd/yyyy" data-date="01-01-{{pages_form.fulltextStartYear}}" value="01/01/{{pages_form.fulltextStartYear}}">
                </div>
                <div class="col-md-2">
                    <label for="id_date_to">to</label>
                    <input id="id_date_to" name="date2" class="span2 form-control" type="text" data-date-format="mm/dd/yyyy" data-date="12-31-{{pages_form.fulltextEndYear}}" value="12/31/{{pages_form.fulltextEndYear}}">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Enter Search</legend>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_ortext">...with <strong>any</strong> of the words:</label>
                    {{ pages_form.ortext }}
                </div>
                <div class="col-md-3">
                    <label for="id_andtext">...with <strong>all</strong> of the words:</label>
                    {{ pages_form.andtext }}
                </div>
                <div class="col-md-3">    
                    <label for="id_phrasetext">...with the <strong>phrase</strong>:</label>
                    {{ pages_form.phrasetext }}
                </div>
            </div>    
            <label for="id_proxtext_adv">...with the words:</label>
            <div class="form-inline">
                {{ pages_form.proxtext }}
                <label for="id_proxdistance">within</label>
                {{ pages_form.proxdistance}}
                <span>words of each other</span>
            </div>
        </fieldset>
        <fieldset>
            <input type="hidden" name="rows" id="rows" value="20" />
            <input type="hidden" name="searchType" value="advanced" />
            <div class="form-actions">
                <button id="adv_reset" type="reset" value="clear" class="btn">Clear</button>
                <button type="submit" value="Submit" class="btn btn-primary">Search</button>
            </div>
        </fieldset>
    </form>
</div><!-- end id:tab_advanced_search -->


{% endblock subcontent %}
