{% extends "__l_main.html" %}

{% load static from staticfiles %}
{% load humanize %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" media="screen">
{% endblock head_page_css %}

{% block subcontent %}

<div class="page_search">
    <form action="{% url 'openoni_search_pages_results' %}" method="get" name="fulltext2" id="fulltext2">
        <fieldset>
            <legend><h3>Search Terms</h2></legend>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_ortext">{{ form.ortext.label }}</label>
                </div>
                <div class="col-md-9">
                    {{ form.ortext }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_andtext">{{ form.andtext.label }}</label>
                </div>
                <div class="col-md-9">
                    {{ form.andtext }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_phrasetext">{{ form.phrasetext.label }}</label>
                </div>
                <div class="col-md-9">
                    {{ form.phrasetext }}
                </div>
            </div>
            {% comment %}
                TODO put phrase searching hints here
                <h4>Show Search Examples</h4>
                <p>
                    Phrase searching: Add " " around phrase
                    Exclude a word: -word
                </p>
            {% endcomment %}
        </fieldset>

        <fieldset>
            <legend><h3>Proximity Search</h3></legend>
            <p class="hint">
                Enter a list of words to search for, and the distance, in
                words, they may be from each other in order to match.
            </p>
            <div class="row">
                <div class="col-md-2">
                    <label for="id_proxtext">{{ form.proxtext.label }}</label>
                </div>
                <div class="col-md-5">
                    {{ form.proxtext }}
                </div>
                <div class="col-md-2">
                    <label for="id_proxdistance">{{ form.proxdistance.label }}</label>
                </div>
                <div class="col-md-3">
                    {{ form.proxdistance }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><h3>Limit By:</h3></legend>
            <!-- Locations and Dates -->
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-2">
                        <label for="id_city">{{ form.city.label }}</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.city }}
                    </div>

                    <div class="col-md-2">
                        <label for="id_county">{{ form.county.label }}</label>
                    </div>
                    <div class="col-md-10">
                        {{ form.county }}
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Site contains content from {{ form.fulltextStartYear }} to {{ form.fulltextEndYear }}</p>
                    <div class="form-inline">
                        <label for="id_date_from">Start date</label>
                        <input id="id_date_from" name="date1" type="date"
                            min="{{form.fulltextStartYear}}-01-01"
                            max="{{form.fulltextEndYear}}-12-31">
                        <label for="id_date_to">End date</label>
                        <input id="id_date_to" name="date2" type="date"
                            min="{{form.fulltextStartYear}}-01-01"
                            max="{{form.fulltextEndYear}}-12-31">
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Newspapers / LCCNs -->
        <h3>Search only the following newspapers:</h3>
        <div class="row">
            <div class="help-block">Hold cmd / control to select more than one</div>
            <div class="col-md-2">
                <label for="id_lccn">Newspaper(s)</label>
            </div>
            <div class="col-md-10">
                {{ form.lccn }}
            </div>
        </div>

        <!-- TODO make the below expandable / collapsible? -->
        <h3>Additional Filters</h3>
        <div class="row">
            <div class="col-md-4">
                <label for="id_language">{{ form.language.label }}</label>
                {{ form.language }}
            </div>
            <div class="col-md-4">
                <label for="id_frequency">{{ form.frequency.label }}</label>
                {{ form.frequency }}
            </div>
            <div class="col-md-2">
                <input name="sequence" id="sequence" value="1" type="checkbox" />
                <label class="norm" for="sequence">Front pages only</label>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        {% comment %}
            Ethnicity, labor press, and material type not
            included as they are not in solr index
        {% endcomment %}
        
        <div class="row">
            <input type="hidden" name="rows" id="rows" value="20" />
            <input type="hidden" name="searchType" value="advanced" />
            <div class="form-actions">
                <button id="adv_reset" type="reset" value="clear" class="btn btn-link">Clear</button>
                <button type="submit" value="Submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div><!-- end id:tab_advanced_search -->


{% endblock subcontent %}
