{% extends "__l_main.html" %}

{% load static from staticfiles %}
{% load humanize %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" media="screen">
{% endblock head_page_css %}

{% block subcontent %}

<div class="title_search">
    <fieldset>
        <legend>Browse by Title First Letter</legend>
        <ul>
            {% for val in browse_val %}
                <li class="alpha_tag"><a href="{% url 'openoni_titles_start' val %}">{{val}}</a></li>
            {% endfor %}
        </ul>
    </fieldset>
    <form action="{% url 'openoni_search_titles_results' %}" method="get" class="search_directory">
        <fieldset>
            <legend>Limit Search</legend>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_city">{{ titles_form.city.label }}:</label>
                    {{ titles_form.city }}
                </div>
                <div class="col-md-3">
                    <label for="id_county">{{ titles_form.county.label }}:</label>
                    {{ titles_form.county }}
                </div>
                <div class="col-md-3">
                    <label for="id_state">{{ titles_form.state.label }}:</label>
                    {{ titles_form.state }}
                </div>
                <div class="col-md-3">
                    <label for="id_frequency">{{ titles_form.frequency.label }}</label>
                    {{ titles_form.frequency }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="label_alt">Select when the newspaper was published:</span>
                    <br/>
                    {{ titles_form.year1.label }}
                    {{ titles_form.year1 }}
                    {{ titles_form.year2.label }}
                    {{ titles_form.year2 }}
                </div>
                <div class="col-md-4">
                    <label for="id_language">{{ titles_form.language.label }}</label>
                    {{ titles_form.language }}
                </div>
                <div class="col-md-4">
                    <label for="id_ethnicity">{{ titles_form.ethnicity.label }}</label>
                    {{ titles_form.ethnicity }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_material_type">{{ titles_form.material_type.label }}</label>
                    {{ titles_form.material_type }}
                </div>
                <div class="col-md-4">
                    <label for="id_material_type">{{ titles_form.labor.label }}</label>
                    {{ titles_form.labor }}
                </div>
                <div class="col-md-3">
                    <label for="id_lccn">{{ titles_form.lccn.label }}</label>
                    {{ titles_form.lccn }}
                </div>
            </div>
            <row class="row">
                <div class="col-md-5">
                    <label for="id_terms">Keywords:</label>
                    {{titles_form.terms}}
                </div>
            </row>
        </fieldset>
        <input type="hidden" name="rows" id="rows" value="20"/>
        <div class="form-actions">
            <button id="adv_reset" type="reset" value="clear" class="btn btn-link">Clear</button>
            <button type="submit" value="Submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

{% endblock subcontent %}
