### Mandatory settings ###

# This will be the URL you use to connect to ONI
ONI_BASE_URL=http://localhost:12345

# FILL THESE IN. They're blank so you get punished if you don't.
ONI_SECRET_KEY=
DB_PASSWORD=

ONI_SHORT_PROJECT_NAME="State News"
ONI_LONG_PROJECT_NAME="Historic State Newspaper Preservation Project"

### Optional settings ###

# A value of '1' enables django debug output to the browser and turns off some
# caching. Do *not* turn this on in production!
ONI_DEBUG=0

# Generally the defaults for these are fine
ONI_LOG_LEVEL=INFO
ONI_LOG_TO_FILE=1
ONI_LOG_SQL=0

# CADDY_DEBUG must be "debug" or blank
CADDY_DEBUG=debug

# gunicorn: defaults are okay, but may need to differ *a lot* in different
# environments. Consider overriding workers to be double your vCPUs. Max
# requests at 10k is usually fine.
GUNICORN_WORKERS=4
GUNICORN_MAX_REQUESTS=10000
