{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  {# todo: Revisit dc declaration on pages without dc meta tags -kmd #}
  <head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
  {% block head_all %}
    {% block head_site_meta %}
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_site_meta %}

    {% block head_opensearch %}
      <link rel="search" href="{% url 'openoni_search_pages_opensearch' %}"
        type="application/opensearchdescription+xml"
        title="{{ site_title }} Page Search" />
      <link rel="search" href="{% url 'openoni_search_titles_opensearch' %}"
        type="application/opensearchdescription+xml"
        title="{{ site_title }} Title Search" />
    {% endblock head_opensearch %}

    {% block head_page_meta %}
    {% endblock head_page_meta %}

    <title>
      {% block head_page_title %}
        {% if page_title %}{{page_title}} «{% endif %}
        {% if site_title %}{{site_title}}{% endif %}
      {% endblock head_page_title %}
    </title>

    <!-- CSS -->
    {% block head_page_css %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet">
    {% endblock head_page_css %}

    <!-- JavaScript -->
    {% block javascript %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
      $(function() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]')
          .parent().addClass('active');
      });
    </script>
    {% endblock javascript %}

    <!-- Page Content Metadata -->
    {# formerly lc_metadata #}
    {% block head_item_metadata %}{% endblock head_item_metadata %}
    {% block head_extra %}{% endblock head_extra %}
  {% endblock head_all %}
  </head>

  <body role="document">
    {% block body_content %}
      <header class="site_header">
        {# Skip link before all other content #}
        <a class="skiplink sr-only sr-only-focusable" href="#maincontent">
          Skip to main content
        </a>

        {% block header %}
          {% block header_title %}
            <div class="header_title">
              <div class="container">
                <h1 class="title">{{ site_title }}</h1>
              </div>
            </div>
          {% endblock header_title %}

          {% block navbar %}
          <nav class="navbar {% block navbar_classes %}navbar-inverse
            header_navbar{% endblock navbar_classes %}">
            <div class="container">
              {# Brand and toggle get grouped for better mobile display #}
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                  aria-expanded="false" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              {# Collect the nav links, forms, and other content for toggling #}
              <div class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  {% block navbar_home %}
                    <li><a href="{% url 'openoni_home' %}">Home</a></li>
                  {% endblock navbar_home %}
                  {% block navbar_pos1 %}
                    <li>
                      <a href="{% url 'openoni_newspapers' %}">Newspapers</a>
                    </li>
                  {% endblock navbar_pos1 %}
                  {% block navbar_pos2 %}
                    <li><a href="{% url 'openoni_about' %}">About</a></li>
                  {% endblock navbar_pos2 %}
                  {% block navbar_pos3 %}
                    <li><a href="{% url 'openoni_about_api' %}">API</a></li>
                  {% endblock navbar_pos3 %}
                  {% block navbar_pos4 %}
                    <li>
                      <a href="{% url 'openoni_issues' %}">Browse by Date</a>
                    </li>
                  {% endblock navbar_pos4 %}
                  {% block navbar_pos5 %}
                    <li><a href="{% url 'openoni_help' %}">Help</a></li>
                  {% endblock navbar_pos5 %}
                </ul>

                {% block navbar_advancedsearch %}
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav_advanced_search">
                    <a href="{% url 'openoni_search_advanced' %}">
                      Advanced Search
                    </a>
                  </li>
                </ul>
                {% endblock navbar_advancedsearch %}

                {% block navbar_search %}
                <form class="form-inline navbar-form navbar-right" method="get"
                  action="{% url 'openoni_search_pages_results' %}">
                  <div class="form-group">
                    {{ city_form.city }}
                    <input type="hidden" name="rows" id="rows" alt="rows"
                      value="20">
                    <input type="hidden" name="searchType" alt="searchType"
                      value="basic">
                    <input class="form-control" type="text" name="proxtext"
                      placeholder="search words">
                  </div>

                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"
                      ></span>
                    <span class="search_text">Search</span>
                  </button>
                </form>
                {% endblock navbar_search %}

              </div>{# /.navbar-collapse #}
            </div>{# /.container-fluid #}
          </nav>
          {% endblock navbar %}
        {% endblock header %}
      </header>

      <div class="main_content">
        <div class="container">
          {% block breadcrumbs %}
            {% if crumbs and crumbs|length > 1 %}
              <ol class="breadcrumb">
                {% for crumb in crumbs %}
                  <li {% if crumb.active %}class="active"{% endif %}>
                    <a href="{{crumb.href}}">{{crumb.label}}</a>
                  </li>
                {% endfor %}
              </ol>
            {% endif %}
          {% endblock breadcrumbs %}

        {% comment %}
          Skip link target after breadcrumbs nav block, before content blocks
          so always present unless entire body_content block overridden
        {% endcomment %}
        <div id="maincontent"></div>

        {% block content %}
          {% block page_head_container %}
            {% block page_head %}
              {% block sub_page_head %}
                {% if page_title %}
                  <h2>{{ page_title }}</h2>
                {% endif %}
              {% endblock sub_page_head %}
            {% endblock page_head%}
          {% endblock page_head_container %}

          {% block main_content %}{% endblock main_content %}

          {% block subcontent %}{% endblock subcontent %}
        {% endblock content %}
        </div>{# /container #}
      </div>{# /main_content #}
    {% endblock body_content %}

    {% block footer %}
      <div id="footer">
        <div class="container">
          <p>{{site_title}}</p>
          <p>
            Powered by <a href="https://github.com/open-oni/open-oni">Open ONI</a>
          </p>
        </div>
      </div>
    {% endblock footer %}
  </body>
</html>
