<!DOCTYPE html>
{% load static from staticfiles %}
{% load humanize %}
{% load custom_tags %}

<html lang="en">
  <head profile="http://dublincore.org/documents/2008/08/04/dc-html/"><!-- todo: I'm not sure this dc declaration should be on pages without dc meta tags -kmd -->
  {% block head_all %}
    
    {% block head_page_meta %}
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    {% endblock head_page_meta %}

    <title>
      {% block head_page_title %}
        {{page_title}}
      {% endblock head_page_title %}
    </title>
    
    <!-- ===========
    CSS FILES
    ============= -->
        
    {% block head_page_css %}
      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
      
      <!-- Local CSS -->
      <link href="{% static 'css/highlights.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'css/tablesort.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    {% endblock head_page_css %}
        
    <!-- ===========
    JS FILES
    ============= -->

    {% block head_page_top_js %}
        <!-- additional scripts loaded at the bottom: Jquery, Jquery UI, Bootstrap -->
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock head_page_top_js %}


    <!-- ===========
    Metadata Etc.
    ============= -->

    {% block head_item_metadata %}{% endblock head_item_metadata %} <!-- formerly lc_metadata -->

    {% block head_opensearch %}
      <link title="NDNP Page Search" href="{% url 'openoni_search_pages_opensearch' %}" rel="search" type="application/opensearchdescription+xml" />
      <link title="NDNP Title Search" href="{% url 'openoni_search_titles_opensearch' %}" rel="search" type="application/opensearchdescription+xml" />
    {% endblock head_opensearch %}

    <!-- Extra head data from other pages will be included here -->
    {% block head_extra %}{% endblock head_extra %}
  
  {% endblock head_all %}
  </head>

  <body role="document">
    {% block body_content %}

      <!-- ===========
      HEADER
      ============= -->

      <!-- Site Title/Head -->

      <header class="site_header">

      {% block header %}

        {% block header_title %}
          {% include 'includes/base_header.html' %}
        {% endblock header_title %}

        {% block navbar %}
          {% include 'includes/base_navbar.html' %}
        {% endblock navbar %}

      {% endblock header %}

      </header>


      <!-- ===========
      MAIN CONTENT
      ============= -->
<div class="main_content">
      <div class="container">

      {% block breadcrumbs %}
        {% if crumbs and crumbs|length > 1 %}

          <ol class="breadcrumb">
            {% for crumb in crumbs %}
              <li {% if crumb.active %}class="active"{% endif %}>
                <a href="{{crumb.href}}">{{crumb.label}}</a>
              </li>
            {% endfor %}
          </ol>
        {% endif %}

        {% endblock breadcrumbs %}

        {% block content %}
          {% block page_head_container %}
            {% block page_head %}
              {% block sub_page_head %}
                {% if page_title %}
                  <h2>{{ page_title }}</h2>
                {% endif %}
              {% endblock sub_page_head %}
            {% endblock page_head%}
          {% endblock page_head_container %}
          <div id="skip_menu">
            {% block main_content %}{% endblock main_content %}
          </div>
          {% block subcontent %}{% endblock subcontent %}
        {% endblock content %}
        </div><!-- /container -->
      </div><!--/main_content -->
    {% endblock body_content %}

    <!-- ===========
    FOOTER
    ============= -->
    {% block footer %}
    {% include 'includes/base_footer.html' %}
    {% endblock footer %}
    <!-- ===========
    Bottom loading javascripts
    ============= -->

    {% block javascript %}
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    

      <!-- Highlighting JS (keyword search results and page views -->
      <script type="text/javascript" async="" src="{% static 'js/highlight.js' %}"></script>

      <!-- Bootstrap -->
      <script type="text/javascript" async="" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      
    {% endblock javascript %}

    <script type="text/javascript">
      (function($) {
        function initPage() {
          $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
          }
        $(initPage);
      })(jQuery)
    </script>
  </body>
</html>
