{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  {# todo: Revisit dc declaration on pages without dc meta tags -kmd #}
  <head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
  {% block head_all %}
    {% block head_site_meta %}
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_site_meta %}

    {% block head_opensearch %}
      <link rel="search" href="{% url 'openoni_search_pages_opensearch' %}"
        type="application/opensearchdescription+xml"
        title="{{ site_title }} Page Search" />
    {% endblock head_opensearch %}

    {% block head_page_meta %}
    {% endblock head_page_meta %}

    <title>
      {% block head_page_title %}
        {% if page_title %}{{page_title}} «{% endif %}
        {% if site_title %}{{site_title}}{% endif %}
      {% endblock head_page_title %}
    </title>

    <!-- CSS -->
    {% block head_page_css %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet">
    {% endblock head_page_css %}

    <!-- JavaScript -->
    {% block javascript %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
      $(function() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]')
          .parent().addClass('active');
      });
    </script>
    {% endblock javascript %}

    <!-- Page Content Metadata -->
    {# formerly lc_metadata #}
    {% block head_item_metadata %}{% endblock head_item_metadata %}
    {% block head_extra %}{% endblock head_extra %}
  {% endblock head_all %}
  </head>

  <body>
    {% block body_content %}
      <header class="site_header">
        {# Skip link before all other content #}
        <a class="skiplink visually-hidden visually-hidden-focusable" href="#maincontent">
          Skip to main content
        </a>

        {% block header %}
          {% block header_title %}
            <div class="header_title">
              <div class="container">
                <div class="site_title">{{ site_title }}</div>
              </div>
            </div>
          {% endblock header_title %}
          
          {% block navbar %}
          <nav class="navbar {% block navbar_classes %}header_navbar navbar-dark navbar-expand-lg p-lg-0{% endblock navbar_classes %}" aria-label="Main">
            <div class="container-lg gx-0">
              <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu"
                aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarMainMenu">
                <div class="d-lg-flex container-lg w-100-xl">
                  <ul class="navbar-nav flex-wrap me-lg-auto p-0">
                    {% block navbar_home %}
                    <li class="nav-item">
                      <a class="nav-link p-3" href="{% url 'openoni_home' %}">Home</a></li>
                    {% endblock navbar_home %}
                    {% block navbar_pos1 %}
                    <li class="nav-item">
                      <a class="nav-link p-3" href="{% url 'openoni_newspapers' %}">Newspapers</a>
                    </li>
                    {% endblock navbar_pos1 %}
                    {% block navbar_pos2 %}
                    <li class="nav-item">
                      <a class="nav-link p-3" href="{% url 'openoni_about' %}">About</a></li>
                    {% endblock navbar_pos2 %}
                    {% block navbar_pos3 %}
                    <li class="nav-item">
                      <a class="nav-link p-3" href="{% url 'openoni_about_api' %}">API</a></li>
                    {% endblock navbar_pos3 %}
                    {% block navbar_pos4 %}
                    <li class="nav-item flex-shrink-0">
                      <a class="nav-link p-3" href="{% url 'openoni_issues' %}">Browse by Date</a>
                    </li>
                    {% endblock navbar_pos4 %}
                    {% block navbar_pos5 %}
                    <li class="nav-item">
                      <a class="nav-link p-3" href="{% url 'openoni_help' %}">Help</a></li>
                    {% endblock navbar_pos5 %}
                  </ul>
                  <ul class="navbar-nav ms-auto flex-wrap justify-content-end">
                  {% block navbar_advancedsearch %}
                    <li class="nav-item flex-shrink-0 nav_advanced_search">
                      <a class="nav-link p-3" href="{% url 'openoni_search_advanced' %}">
                        Advanced Search
                      </a>
                    </li>
                    {% endblock navbar_advancedsearch %}
                    {% block navbar_search %}
                    <li class="nav-item">
                      <form class="d-inline-flex flex-column flex-lg-row p-2 pe-5 pe-lg-2" method="get" action="{% url 'openoni_search_pages_results' %}" role="search">
                      <div class="col-lg-4">
                      {{ city_form.city }}
                      </div>
                      <input class="form-control mt-1 mt-lg-0 mb-2 mb-lg-0 me-lg-1 ms-lg-1" type="text" name="proxtext" placeholder="Search words" aria-label="Search words">
                      {% comment %} 
                      Glyphicon (glyphicon-search) was here
                      {% endcomment %}
                      <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </li>
                    {% endblock navbar_search %}
                  </ul>
                </div>
              </div>
            </div>
          </nav>
          {% endblock navbar %}
        {% endblock header %}
      </header>

      <main class="main_content">
        <div class="container pt-4 pb-4">
          {% block breadcrumbs %}
            {% if crumbs and crumbs|length > 1 %}
            <nav aria-label="Breadcrumb">
              <ol class="breadcrumb">
                {% for crumb in crumbs %}
                  <li {% if crumb.active %}class="breadcrumb-item active"{% else %}class="breadcrumb-item"{% endif %}>
                    <a href="{{crumb.href}}" {% if crumb.active %}aria-current="page"{% else %}{% endif %}>{{crumb.label}}</a>
                  </li>
                {% endfor %}
              </ol>
            </nav>
            {% endif %}
          {% endblock breadcrumbs %}

        {% comment %}
          Skip link target after breadcrumbs nav block, before content blocks
          so always present unless entire body_content block overridden
        {% endcomment %}
        <div id="maincontent"></div>

        {% block content %}
          {% block page_head_container %}
            {% block page_head %}
              {% block sub_page_head %}
                {% if page_title %}
                  <h1>{{ page_title }}</h1>
                {% endif %}
              {% endblock sub_page_head %}
            {% endblock page_head%}
          {% endblock page_head_container %}

          {% block main_content %}{% endblock main_content %}

          {% block subcontent %}{% endblock subcontent %}
        {% endblock content %}
        </div>{# /container #}
      </main>{# /main_content #}
    {% endblock body_content %}

    {% block footer %}
      <footer id="footer">
        <div class="container">
          <p>{{site_title}}</p>
          <p>
            Powered by <a href="https://github.com/open-oni/open-oni">Open ONI</a>
          </p>
        </div>
      </footer>
    {% endblock footer %}
  </body>
</html>
