{% extends "__overrides.html" %}

{% load static from staticfiles %}
{% block head_item_metadata %}
    {% with title.display_name as title_metadata %}
        {% include "includes/lc_metadata.html" %}
    {% endwith %}
{% endblock head_item_metadata %}

{% block head_extra %}
<link rel="primaryTopic" href="{{ title.abstract_url }}" />
<link rel="resourcemap" type="application/rdf+xml" href="{% url 'openoni_title_dot_rdf' title.lccn %}" title="ORE Resource Map" />
<link rel="alternate" type="application/marc+xml" href="{% url 'openoni_title_marcxml' title.lccn %}" title="MARCXML Record for {{ title.display_name }}" />
<link rel="alternate" type="application/atom+xml" href="{% url 'openoni_title_atom' title.lccn %}" title="Update Feed for {{ title.display_name }}" />

{% endblock head_extra %}

{% block download_links %}
{
    link: '{% url 'openoni_title_marcxml' title.lccn %}',
    label: 'application/marc+xml',
    meta: 'MARCXML Record for {{ title.display_name }}',
},
{
    link: '{% url 'openoni_title_atom' title.lccn %}',
    label: 'application/atom+xml',
    meta: 'Update Feed for {{ title.display_name }}',
},
{% endblock %}
                      
{% block page_head %}
<h2>{{title.display_name}}</h1>
<p><strong>{{title.place_of_publication}} ({{title.start_year}}-{{title.end_year}})</strong></p>
{% endblock %}

{% block subcontent %}

{% block page_nav %} 
<div id="newspaper_nav">

<div class="row">
    <div class="col-md-7">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a id="page_nav_title" href="{% url 'openoni_title' title.lccn %}">About {{title.display_name}}</a>
            </li>

            {% if title.has_issues %}
            <li role="presentation">
                <a id="page_nav_issues" href="{% url 'openoni_issues_title' title.lccn %}">Browse Issues by Date</a>
            </li>
            {% endif %}

            <li role="presentation">
                <a id="page_nav_issues" href="{% url 'openoni_issues_first_pages' title.lccn %}">View Front Pages</a>
            </li>
        </ul>
    </div>

    <div class="col-md-5">
        <div class="btn-group" role="group" aria-label="title options">
            <a class="btn btn-default" href="{% url 'openoni_page' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page.sequence %}" role="button">First Issue</a>
            <a class="btn btn-default" href="{% url 'openoni_page' title.lccn title.last_issue.date_issued title.last_issue.edition title.last_issue.first_page.sequence %}" role="button">Last Issue</a>
        </div>
    </div>
</div>

</div> 
{% endblock page_nav %}

<div id="std_box"> 
    {% block extra_nav %}
    {% endblock %}
    
    {% block newspaper_content %}
    {% endblock newspaper_content %}

    <div class="clear"><!-- --></div> 
</div><!-- end id:std_box --> 
{% endblock subcontent%}
