{% extends "__overrides.html" %}

{% load static %}
{% block head_item_metadata %}
    {% with title.display_name as title_metadata %}
        {% include "includes/lc_metadata.html" %}
    {% endwith %}
{% endblock head_item_metadata %}

{% block head_extra %}
<link rel="primaryTopic" href="{{ title.abstract_url }}" />
<link rel="resourcemap" type="application/rdf+xml" href="{% url 'openoni_title_dot_rdf' title.lccn %}" title="ORE Resource Map" />
<link rel="alternate" type="application/marc+xml" href="{% url 'openoni_title_marcxml' title.lccn %}" title="MARCXML Record for {{ title.display_name }}" />
<link rel="alternate" type="application/atom+xml" href="{% url 'openoni_title_atom' title.lccn %}" title="Update Feed for {{ title.display_name }}" />
<link rel="alternate" type="application/json" href="{% url 'api_chronam_title' title.lccn %}" title="ChronAm JSON Title Data">
{% endblock head_extra %}

{% block download_links %}
{
    link: '{% url 'openoni_title_marcxml' title.lccn %}',
    label: 'application/marc+xml',
    meta: 'MARCXML Record for {{ title.display_name }}',
},
{
    link: '{% url 'openoni_title_atom' title.lccn %}',
    label: 'application/atom+xml',
    meta: 'Update Feed for {{ title.display_name }}',
},
{% endblock %}
                      
{% block page_head %}
<h1>{{title.display_name}}</h1>
<p><strong>{{title.place_of_publication}} ({{title.start_year}}-{{title.end_year}})</strong></p>
{% endblock %}

{% block subcontent %}

{% block page_nav %} 
<div id="newspaper_nav">

<div class="row mb-3">
    <div class="col-lg-8">
        <ul class="nav nav-pills">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="page_nav_title" href="{% url 'openoni_title' title.lccn %}">About {{title.display_name}}</a>
            </li>

            {% if title.has_issues %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="page_nav_date" href="{% url 'openoni_issues_title' title.lccn %}">Browse Issues by Date</a>
            </li>
            {% endif %}

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="page_nav_issues" href="{% url 'openoni_issues_first_pages' title.lccn %}">View Front Pages</a>
            </li>
        </ul>
    </div>

    {% if title.has_issues %}
    <div class="col-lg-4">
        <ul class="nav nav-pills float-sm-end">
            {% with iss=title.first_issue img=title.first_issue.first_page_with_image %}
            {% if img.jp2_filename and img.sequence %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{% url 'openoni_issue_pages' title.lccn iss.date_issued iss.edition %}">
                    View First Issue
                </a>
            </li>
            {% endif %}
            {% endwith %}

            {% with iss=title.last_issue img=title.last_issue.first_page_with_image %}
            {% if img.jp2_filename and img.sequence %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{% url 'openoni_issue_pages' title.lccn iss.date_issued iss.edition %}">
                    View Last Issue
                </a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </div>
    {% endif %}
</div>

</div> 
{% endblock page_nav %}

<div id="std_box"> 
    {% block extra_nav %}
    {% endblock %}
    
    {% block newspaper_content %}
    {% endblock newspaper_content %}

    <div class="clear"></div> 
</div>
{% endblock subcontent%}
