<!--

This layout is specifically for print versions of pages. 
The only page currently using this is page_print.html.

-->

{% extends "__overrides.html" %}

{% block header_title %}
  {% comment %} Nothing {% endcomment %}
{% endblock header_title %}

{% block navbar %}
  {% comment %} Nothing {% endcomment %}
{% endblock navbar %}

{% block breadcrumbs %}
  {% comment %} Nothing {% endcomment %}
{% endblock breadcrumbs %}

{% block footer %}
  {% comment %} Nothing {% endcomment %}
{% endblock footer %}