<!-- http://BASE_URI/help/ -->

{% extends "__l_main.html" %}

{% load static %}

{% block box-tabs %}
{% endblock %}

{% block main_content %}

<div id="std_box">
    <ul>
        <li class="down"><a href="#faq">FAQs</a></li>
        <li class="down"><a href="#how_to_view">How to View</a> </li>
        <li class="down"><a href="#basic_searching">Basic Searching in <em>{{ site_title }}</em></a> </li>
        <li class="down"><a href="#advanced_searching">Advanced Searching in <em>{{ site_title }}</em></a> </li>
        <li class="down"><a href="#search_and_browsing_tips">Search and Browsing Tips</a> </li>
        <li class="down"><a href="#language_searching">Searching by Language</a> </li>
    </ul>

<br />

<h2 id="faq">Frequently Asked Questions (FAQs)</h2>

<h3>Why does the View Text link on the full Page screen show misspellings and badly-formed words?</h3>
<p>The View Text option in <em>{{ site_title }}</em> displays machine-generated text that is produced by Optical Character Recognition (OCR) software. OCR is a fully automated process that converts the visual image of numbers and letters into computer-readable numbers and letters. Computer software can then search the OCR-generated text for words, phrases, numbers, or other characters. However, OCR is not 100 percent accurate, and, particularly if the original item has extraneous markings on the page, unusual text styles, or very small fonts, the searchable text OCR generates will contain errors that cannot be corrected by automated means. Digitization of microfilmed newspapers inherently includes a wide range of image quality in the content (quality derived from the original newspaper, the original newspaper when it was microfilmed and associated deterioration, or the film itself.)</p>
<p>Although errors in the process are unavoidable, OCR is still a powerful tool for making text-based items accessible to searching. For example, important concept words often appear more than once within an article. Therefore, if OCR misreads one instance of a key word in a passage, but correctly reads the second instance, the passage will still be found in a full-text search.</p>

<h3>Why do diacritics and non-English language characters sometimes appear &quot;Romanized&quot; or not in their original alphabets?</h3>
<p>The Newspaper Directory provides access to newspaper title records cataloged according to standard bibliographic rules. Until recently, most non-English language characters were difficult to represent in library records and so Romanization - or standard rules for transliterating other alphabets to the Roman alphabet - was used to convey phonetic pronunciations of non-English words.</p>

<h3>How do I cite or reference newspaper Directory records and pages for re-use (e.g., in a Web site or other electronic display) or reference (e.g., in a bibliography or journal article)?</h3>
<p><em>{{ site_title }}</em> supports persistent links to newspaper directory records and pages by providing a predictable URL, displayed in the descriptive information for that object. Using the proposed <a href="http://bitworking.org/projects/URI-Templates/draft-gregorio-uritemplate-00.html" onmouseup="return linkDisclaimer.rewriteAnchor(this);">URI Template</a> syntax the links will use the pattern:   </p>
<ul><li>{{ BASE_URL }}/lccn/{lccn}/{date}/ed-{edition}/seq-{image sequence}</li></ul>
<p>Where:</p>
<ul><li><em>lccn</em> is the # Library of Congress Control Number for the newspaper</li><li><em>date</em> is the date of the issue, specified as yyyy-mm-dd (e.g. 1902-01-30)</li><li><em>edition</em> is the edition number for that date (e.g. 1)</li><li><em>seq</em> is the image sequence number (e.g. 23) for that issue.</li></ul>
<p>For example:</p>  
<ul><li>{{ BASE_URL }}/lccn/sn84026749/1903-01-08/ed-1/seq-2</li></ul>
<p>When describing <em>{{ site_title }}</em> as the source of content, please use the URL and a website citation, such as &quot;from <em>{{ project_name }}</em>&quot;.</p>
<br />

<h2 id="how_to_view">How to View</h2>
<p>Images of historic newspaper pages, as well as uncorrected page text, are displayed through your web browser.  However, <em>{{ site_title }}</em> also contains high-resolution images (JPEG2000) and enhanced text (PDF) that may require special viewers. Most viewers can be downloaded free from vendor sites. The links below explain the various formats used and how to access them.</p>

<h3>Download and View Pages Offline</h3>
<table class="table table-bordered" summary="table summarizing document formats, including viewers and samples" cellspacing="0" class="std full">
    <tr>
        <td rowspan="1" colspan="1">PDF <br/>(Portable Document Format, .pdf)</td>
        <td rowspan="1" colspan="1">Used for page images</td>
        <td rowspan="1" colspan="1"><a href="http://www.adobe.com/products/acrobat/readstep2.html" onmouseup="return linkDisclaimer.rewriteAnchor(this);"> Adobe Acrobat Reader</a><br/><br/><a href="http://www.adobe.com/products/acrobat/alternate.html" onmouseup="return linkDisclaimer.rewriteAnchor(this);"> Adobe text-only download page</a></td>
        <td rowspan="1" colspan="1">- <a href="http://chroniclingamerica.loc.gov/lccn/sn84024441/1901-12-16/ed-1/seq-1.pdf">Sample PDF</a><br/>- <a href="http://chroniclingamerica.loc.gov/lccn/sn84024441/1901-12-16/ed-1/seq-1">About this sample</a></td></tr>
    <tr>
        <td rowspan="1" colspan="1">JPEG2000<br/>(.jp2)</td>
        <td rowspan="1" colspan="1">
            - Wavelet compression technology<br/><br/>
            - Tiling supports decompression of only that portion of the image requested by the user<br/><br/>
            - Compression ratio is approximately 20:1, depending on image content and color depth</td>
        <td rowspan="1" colspan="1">Windows:<br/>
            - <a href="http://www.erdas.com/products/ERDASERMapper/ERDASERViewer/Details.aspx" onmouseup="return linkDisclaimer.rewriteAnchor(this);">ERDAS ER Viewer</a><br/>
            - <a href="http://www.kakadusoftware.com" onmouseup="return linkDisclaimer.rewriteAnchor(this);">Kdu_show</a><br/>
            - <a href="http://www.irfanview.com" onmouseup="return linkDisclaimer.rewriteAnchor(this);">IrfanView with JPEG2000 plug-in</a><br/><br/>OS X:Preview supports baseline JP2 only; commercial software may be needed to view tiled JP2 files, such as those in <em>{{ site_title }}</em>.</td>
        <td rowspan="1" colspan="1">
            - <a href="http://chroniclingamerica.loc.gov/lccn/sn84024441/1901-12-16/ed-1/seq-1.jp2">Sample JPEG2000 page</a><br/>
            - <a href="http://chroniclingamerica.loc.gov/lccn/sn84024441/1901-12-16/ed-1/seq-1">About this sample</a></td>
    </tr>
</table>
<p>Some Web browsers incorrectly assume that Quicktime (automatically included with the browser software) can display a JPEG2000 image (JPEG2000, or .jp2, is not a &quot;native&quot; Web format.) To counteract this effect, download the JPEG2000 (JP2) image by &quot;right-click*quot;-ing with the mouse on the image link --e.g., &quot;JP2 (4.0 Mb)&quot;. In the dialog box that appears, you will see &quot;Save Link As...&quot; or &quot;Save Target As...&quot; (depending on the Web browser used). Selecting this option will result in downloading the image to your desktop for further review.</p>
<p>To view the JPEG2000 (.jp2) file you will need a JPEG2000-friendly software, such as those listed above.</p><br/>

<h2 id="basic_searching">Basic Searching in {{ site_title }}</h2>
<p><em>{{ site_title }}</em> provides access to historic newspaper pages digitized under the NEH/LC National Digital Newspaper Program (NDNP). For more information on the scope and content of the program, click here <a href="http://www.neh.gov/projects/ndnp.html">(http://www.neh.gov/projects/ndnp.html).</a></p>
<p>Search <em>{{ site_title }}</em> to find</p>
<ul>
    <li>information on persons, places, or events;</li>
    <li>specific topics or news of the day;</li>
    <li>concepts or ideas;</li>
    <li>unique passages of text, such as the source of a frequently-quoted phrase.</li>
</ul>
<p>Users of <em>{{ site_title }}</em> have the option of performing basic or advanced searches.  The basic search box is designated as the blue <em>Search Pages</em> tab and is found on many of the pages of the site. Basic search options are limited to state, time period, and key words located near each other.  The basic search returns all supported languages. </p>
<p>For basic searches, results listed first are most likely to be relevant to your search. Results will appear higher in the list when they contain</p>
<ul>
    <li>exact matches of your search terms;</li>
    <li>more of your search terms;</li>
    <li>repeated search terms;</li>
    <li>search terms that occur near each other.</li>
</ul>
<p>Your searches will yield better results if you keep the following points in mind:</p>

<ul>
    <li>Common words such as <b>and</b>, <b>not</b>, and <b>the</b> are ignored by the search engine.</li>
    <li>Case of letters is ignored. For example, <b>Civil</b> and <b>civil</b> are treated the same.</li>
    <li>Diacritic characters (accent marks, in non-English text) and other special characters produce inaccurate results, so plain (unaccented) letters should be substituted for letters with diacritics.</li>
</ul>

<p><em>{{ site_title }}</em>&#39;s search engine utilizes language-specific dictionaries toinclude word variants for your search terms.  This is often called stemming.  For example, the search term <b>house</b>, when stemmed in English, would also return words like <b>houses</b> and <b>housing</b>.  </p>
<p>For more search options, see Advanced Searching in <em>{{ site_title }}</em> below.  For information about language support in <em>{{ site_title }}</em>, see Searching by Language in <em>{{ site_title }}</em>.</p>

<h2 id="advanced_searching">Advanced Searching in {{ site_title }}</h2>
<p>To make the most of searching this text, take advantage of the search options provided on the Search page.</p>
<ul>
    <li>To limit your search to particular geographic area, select one or more States.</li>
    <li>Or, you can limit your search to a particular newspaper, or select several newspapers, picked from the list of titles currently available in <em>{{ site_title }}</em>.</li>
    <li>In addition or alternatively, you can search the entire date range available (default), or select a specific date and limit your search to a specific year, month, or even day, using the begin date and end date lists provided. (Note: selecting the same begin month/day/year and end month/day/year will provide links to every page available for that specific date.)</li>
    <li>In addition or alternatively, enter a specific search term or terms in the Keyword boxes provided. The operators provided will influence the results of your search significantly and can be used in separate searches or in conjunction within a single search.</li>
</ul>

<h3>Search for a Phrase</h3>
<ul>
    <li>Select the Advanced Search tab and enter your phrase in the appropriate &quot;...with the phrase&quot; search box.</li>
    <li>When searching for a phrase, enter the words in the order they are most likely to occur.</li>
    <li>The order of search words does not affect the scope of the search results, but it will affect the order of their display.</li>
</ul><br/>

<h3>Search for Words Near Each Other</h3>
<ul>
     <li>Select the Advanced Search tab and enter your keywords into the &quot;...with the words&quot; search box.</li>
     <li>Select a numeric value for how close the words should be to each other (proximity).</li>
     <li>This type of search can be helpful in narrowing results on a given person, place or event to a specific aspect of that person, place or event. For example: &quot;Roosevelt conservation&quot; within 10 words will result mostly in articles about President Theodore Roosevelt&#39;s Conservation policies during his administration.</li>
</ul>
<p><b>Too Many Results</b> - If a search generates too many results, try using more specific terms and/or limiting to a specific State of publication or a particular newspaper title. Use the search box options in combination to narrow your results. For example, use &quot;President Roosevelt&quot; as phrase and &quot;Roosevelt conservation&quot; within 10 words to narrow results to text about only President Roosevelt&#39;s conservation policies.</p><br/>
<p><b>Too Few Results</b>  - If a search generates too few results, try alternate terms or broader subjects and relax any limiting criteria (date ranges, state limitations, etc.).</p><br/>
<p>Because language changes, be sure to use search terms used at the time the materials were created, even if those terms are now obsolete. For example, the following historic terms will produce more results than their modern-day counterparts: </p>
<table class="table table-bordered" cellspacing="0">
    <tr>
        <td colspan="2" rowspan="1">Modern Usage vs. Historic Usage comparison table</td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1"><b>Modern Usage</b></td><td rowspan="1" colspan="1"><b>Historic Usage</b></td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1">gas, service station</td><td rowspan="1" colspan="1">filling station</td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1">African American</td><td rowspan="1" colspan="1">Afro American, Negro</td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1">voting rights</td><td rowspan="1" colspan="1">suffrage</td>
    </tr>
</table><br />

<p>Use the names of towns, landmarks, bridges, buildings, and other geographic features that were current when the materials you are searching were created.  For instance, the state of Oklahoma was referred to as both &quot;Indian Territory&quot; and &quot;Oklahoma Territory&quot; prior to its admission as a state, so searching for &quot;Indian Territory&quot; may produce more search results if searching on topics related to Oklahoma.</p>
<p>Matching a phrase can be useful for searching place names or when common words have a particular sense used in combination.</p>
<p>For example, the term &quot;normal school&quot; was used in the early twentieth century to describe schools for training teachers. Searching for the phrase may eliminate results containing the words &quot;normal&quot; and &quot;school&quot; in unrelated ways.</p>
<p>Note: Some very common words, such as and, of, the, a, and to, are ignored even when matching exact phrases.</p>

<h2 id="search_and_browsing_tips">Search and Browsing Tips</h2>
<ul>
    <li>Many browsers have the capability of tabbed browsing, which opens a new pane in the current window, either in the background or the foreground. Users of {{ site_title }} have reported this as a useful method of navigating through search results- bringing up each result in a new tab. This may be accomplished by clicking with the right-hand mouse button (for Mac, hold down the Command key) and selecting &quot;Open Link in New Tab.&quot; </li>
    <li>Search results are displayed on a page that can easily be bookmarked or navigated to via the &quot;Back&quot; button on the browser. Every page in the <em>{{ site_title }}</em> application can be bookmarked, but only the addresses containing newspaper pages should be treated as canonical for purposes of citations and long-term referrals.  These addresses are displayed in the address bar of the browser, and no special treatment is required for adding them to a citation database. (Select the &quot;Persistent Link&quot; URL displayed on each newspaper page view to store the link without search text highlighted.)</li>

    <li>All pages are digitally scanned - primarily from microfilm, described, and automatically processed for full-text searching through a process called Optical Character Recognition (OCR). This text is organized in normal reading order (by column) and left uncorrected. Search strategies may take this into consideration (i.e., searching for shorter words and phrases when possible in order to maximize the number of search results returned).</li>
    <li>One helpful way to use the full-text search feature is to enter a term or phrase containing many words that characterize the topic you wish to investigate. A full-text search will then retrieve pages with similar passages, displaying thumbnail page images with red highlights visible representing the occurrence of searched terms. This visual interface allows for quick review of full pages and search terms to determine the most useful results to view at full-size. An alternate results list is available through the List View, which will display descriptive textual links to individual pages, where search terms will be highlighted in red wherever they occur on the page.</li>
    <li>Selecting a search result will bring up the newspaper page, initially displaying the full page. To read or view the page more closely, select the + or - to magnify the image, use the mouse scroll wheel, or simply click on the page image. Additionally, you can use the cursor hand to &quot;grab&quot; and move the image any direction, within the page frame. To return to the original full-page display, select the &quot;go home&quot; icon on the floating navigation bar.</li>
    <li>In addition to the action icons used for this page image, other icons on this bar provide access to alternate digital formats for this newspaper page which can be downloaded. Click on the text link to download these formats.</li>
    <li>In some newspapers in <em>{{ site_title }}</em>, issues or pages in logical sequence are not available digitally (usually because images were absent from the microfilm used for digitization). Whenever possible, any known information about these issues is provided, as follows:    
        <ul>
            <li>Not digitized, published</li>
            <li>Not digitized, not published</li>
            <li>Not digitized, publishing unknown</li>
        </ul>
        <p>A good and historically significant example of missing issues is in the <em>San Francisco Call</em>, where the April 19th and April 20th issues from 1906 are missing due to the devastating San Francisco earthquake that prevented the newspaper from publishing on those days.
    </li>
</ul>
            
<h2 id="language_searching">Searching by Language</h2>
<p><em>{{ site_title }}</em> supports language-specific searching in English, French, German, Italian, and Spanish (although not all languages may be represented at this time).  By default, in both  Basic and Advanced Search, all content is searched together regardless of language.  To limit searches to a specific language, conduct an Advanced Search and choose the appropriate language from the Language drop-down menu. For additional technical information on how languages are encoded and identified for search, see current NDNP Technical Guidelines at <a href="http://www.loc.gov/ndnp/guidelines/">http://www.loc.gov/ndnp/guidelines/</a>.</p>

<h3>Why use language-specific search?</h3>
<p><em>{{ site_title }}</em>&#39;s search engine utilizes language-specific dictionaries to include word variants for your search terms.  This is often called &quot;stemming&quot;.  For example, the search term house, when stemmed, would also return words like <b>houses</b> and <b>housing</b>.  In Spanish, words like<b> hermano</b> would include stems such as <b>hermanos</b>. By default, the exact match (unstemmed) results will be ranked higher than the stemmed results.
</p>
<p>Other reasons for language-specific search may be more content related. For example, reporting in Spanish about the building of the Panama Canal may convey a different perspective than reporting in the mainstream English-speaking press. </p>

<a href="#maincontent">Return to Top</a>

</div><!-- end id:std_box -->

{% endblock %}
