<!-- Calendar view for individual titles:
        http://BASE_URL/lccn/sn83045350/issues/  -->

{% extends "__l_newspaper.html" %}
{% load static %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock head_page_css %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $("#id_year").change(function() {
        window.location = "{% url 'openoni_issues_title' title.lccn %}" + this.value;
      });
      // Hide multiple entries initially
      $("td.multiple").find("ul").css("display", "none");

      // Reveal multiple entries with mouse hover or click/enter
      $("td.multiple")
        .hover(
          function() { $(this).find("ul:hidden").slideToggle(); },
          function() { $(this).find("ul:visible").slideToggle(); }
        )
        .click(function() { $(this).find("ul").slideToggle(); })
      ;
    });
  </script>
{% endblock %}

{% block extra_nav %}


<div class="row g-2 mb-3">
    <div class="col-12 col-md-6">
        <form class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <label class="form-label mb-0 me-2" for="year_select">Issues for:</label>
          </div>
          <div class="">
            {{select_year_form.year}}
          </div>
        </form>
    </div>
    <div class="col-8 col-sm-6 col-md-3">
        <p class="issues_single m-0 w-">Single edition</p>
      </div>
    <div class="col-8 col-sm-6 col-md-3">
        <p class="issues_multiple m-0">Multiple editions</p>
    </div>
</div>
{% endblock %}

{% block newspaper_content %}

    {{year_view|safe}}

{% endblock %}
