{% extends "__l_newspaper.html" %}

{% comment %}
  http://BASE_URI/lccn/sn99021999/1887-03-09/ed-1/
  http://BASE_URI/lccn/sn99021999/issues/first_pages/
{% endcomment %}

{% load static %}
{% load custom_filters %}
{% load image_urls %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock head_page_css %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $("form[name='page_number_form']").submit(function() {
        var pageNumber = $("input[type=text]", this).val();
        {% if first_pages %}
          window.location.href = "{% url 'openoni_issues_first_pages' title.lccn %}" + pageNumber;
        {% else %}
          window.location.href = "{% url 'openoni_issue_pages' issue.title.lccn issue.date_issued issue.edition %}" + pageNumber;
        {% endif %}
        return false;
      });
    });
  </script>
{% endblock javascript %}

{% block head_extra %}
    <link rel="alternate" href="{% url 'openoni_issue_pages_dot_json' title.lccn issue.date_issued issue.edition %}" />
{% endblock head_extra %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block newspaper_content %}
    {% if first_pages %}
    {% include "includes/issue_frontpages_ctrl.html" %}
    {% else %}
    {% include "includes/issue_pages_ctrl.html" %}
    {% endif %}

<div class="search_results_body gallery issues">
    {% if page.object_list %}
    <div class="search_results">
        <div class="row"> 
        {% for page_info in page.object_list %}
            <div class="col-md-3">
                <div class="highlite">
                    {% if page_info.page.relative_image_path %}
                    {% url 'openoni_page' title.lccn page_info.issue.date_issued page_info.issue.edition page_info.page.sequence as url %}
                      <a href="{{url}}">
                        <div>
                          <img src="{% thumb_image_url page_info.page %}" alt=""/>
                        </div>

                        <div>
                          {{page_info.issue|label}},
                          {% if page_info.page %}
                            {{ page_info.page|label }}
                          {% endif %}
                        </div>
                      </a>
                    {% else %}
                      <div class="page_image_missing">
                        No Image.
                        {% if page_info.page.noteAboutReproduction %}
                          {{page_info.page.noteAboutReproduction.text}}.
                        {% elif page_info.issue and page_info.issue.noteAboutReproduction %}
                          Issue Notes:
                          {{page_info.issue.noteAboutReproduction.text}}.
                        {% endif %}
                        {% url 'openoni_issue_pages' title.lccn page_info.issue.date_issued page_info.issue.edition as url %}
                        <p><a href="{{url}}">View Issue</a></p>
                      </div>
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
            {# close row div and open another #}
        </div>
        <div class="row">
            {% endif %}

        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="missing">
        <h2>This issue or title has no available digitized pages{% if display_label %}: {{ display_label }}{% endif %}{% if explanation %}; {{explanation}}{% endif %}.</h2>
    </div>
    {% endif %}
</div>

{% if first_pages %}
{% include "includes/issue_frontpages_ctrl.html" %}
{% else %}
{% include "includes/issue_pages_ctrl.html" %}
{% endif %}

{% block batch_link %}
  {% if not first_pages %}
    <p class="issue_batch_link"><a href="{{ issue.batch.url }}">View Batch Information</a></p>
  {% endif %}
{% endblock batch_link %}

  <a href="#maincontent">Return to Top</a>
{% endblock newspaper_content %}
