{% extends "_newspaper_base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}
{% load image_urls %}

{% block extrahead %}
<link rel="alternate" href="{% url 'openoni_issue_pages_dot_json' title.lccn issue.date_issued issue.edition %}" />
{% endblock %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block newspaper_content %}
{% if first_pages %}
{% include "includes/issue_frontpages_ctrl.html" %}
{% else %}
{% include "includes/issue_pages_ctrl.html" %}
{% endif %}

<div class="search_results_body gallery issues">
    {% if page.object_list %}
    <div class="search_results">
        <div class="row"> 
        {% for page in page.object_list %}
        {% url 'openoni_page' title.lccn page.issue.date_issued page.issue.edition page.sequence as url %}
            <div class="col-md-3">
                <div class="highlite">
                    <a href="{{url}}">
                    {% if page.relative_image_path %}
                    <img src="{% thumb_image_url page %}" alt="Thumbnail for {{page.number}}"/>
                    {% else %}
                        <div style="height: auto; margin-bottom: 3em;">
                        No Image. {{page.noteAboutReproduction.text}}<br/>
                        </div>
                    {% endif %}
                    </a>
                    <br/>
                    <a href="{{url}}" shape="rect">{% if page.issue %}{{page.issue|label}}, {% endif %}{% if page %}{{ page|label }}{% endif %}</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
            </div>
        <div class="row">
            {% endif %}
            
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="missing">
        <h2>This issue has no available digitized pages{% if display_label %}: {{ display_label }}{% endif %}{% if explanation %}; {{explanation}}{% endif %}.</h2>
    </div>
    {% endif %}
    <br/>
    <div class="txt_wrapper">
        <p class="backtotop gallery">
        <a href="#skip_menu">Top</a>
        </p>
    </div>
</div>

{% if first_pages %}
{% include "includes/issue_frontpages_ctrl.html" %}
{% else %}
{% include "includes/issue_pages_ctrl.html" %}
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($) {
    $("form[name='page_number_form']").submit(function() {
        var pageNumber = $("input[type=text]", this).val();
        {% if first_pages %}
        window.location.href = '{% url 'openoni_issues_first_pages' title.lccn %}' + pageNumber;
        {% else %}
        window.location.href = '{% url 'openoni_issue_pages' issue.title.lccn issue.date_issued issue.edition %}' + pageNumber;
        {% endif %}
        return false;
    });
});
</script>
{% endblock %}
