<!-- Calendar view for individual titles:
        http://BASE_URL/lccn/sn83045350/issues/  -->

{% extends "__l_newspaper.html" %}
{% load static from staticfiles %}

{% block head_page_css %}
    {{ block.super }}

    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" media="screen">
{% endblock head_page_css %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    $("#id_year").change(function(){
        window.location = '{% url 'openoni_issues_title' title.lccn %}' + this.value;
    });
    $("td.multiple").find("ul").css("display", "none");

    $("td.multiple").hover(
    function () {
    $(this).find("ul").slideToggle();
    },
    function () {
    $(this).find("ul").slideToggle();
    });
});
</script>
{% endblock %}

{% block extra_nav %}


<div class="row">
    <div class="col-md-4">
        <form>
            <label class="bold" for="year_select">Issues for:</label>&nbsp; {{select_year_form.year}}
        </form>
    </div>
    <div class="col-md-4">
        <p class="issues_single">Single edition</p>
      </div>
    <div class="col-md-4">
        <p class="issues_multiple">Multiple editions</p>
    </div>
</div>
{% endblock %}

{% block newspaper_content %}

    {{year_view|safe}}

{% endblock %}
