{% extends "_site_base.html" %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    $("#id_year").change(function(){
        window.location = '{% url 'openoni_issues' %}' + this.value;
    });
    $("td.multiple").find("ul").css("display", "none");

    $("td.multiple").hover(
    function () {
    $(this).find("ul").slideToggle();
    },
    function () {
    $(this).find("ul").slideToggle();
    });
});
</script>
{% endblock %}

{% block subcontent %}

    <div id="std_box">
        {% block extra_nav %}
        <div class="row">
    <div class="col-md-4">
        <form>
            <label class="bold" for="year_select">Issues for:</label>&nbsp; {{select_year_form.year}}
        </form></div>
    <div class="col-md-4">
        <p class="issues_single">Single edition</p>
    </div>
    <div class="col-md-4">
        <p class="issues_multiple">Multiple editions</p>
    </div>
</div><!-- /row -->
        
        {% endblock extra_nav %}

        {% block newspaper_content %}
            
                {{year_view|safe}}
            
        {% endblock newspaper_content %}

       
    </div><!-- end id:std_box -->
{% endblock subcontent %}

