<!-- Calendar view for all titles:
        http://BASE_URL/issues/ -->

{% extends "__l_main.html" %}
{% load static %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock head_page_css %}

{% block head_item_metadata %}
    {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $("#id_year").change(function() {
        window.location = "{% url 'openoni_issues' %}" + this.value;
      });
      // Hide multiple entries initially
      $("td.multiple").find("ul").css("display", "none");

      // Reveal multiple entries with mouse hover or click/enter
      $("td.multiple")
        .hover(
          function() { $(this).find("ul:hidden").slideToggle(); },
          function() { $(this).find("ul:visible").slideToggle(); }
        )
        .click(function() { $(this).find("ul").slideToggle(); })
      ;
    });
  </script>
{% endblock %}

{% block subcontent %}

    <div id="std_box">
        {% block extra_nav %}
        <div class="row">
    <div class="col-md-4">
        <form>
            <label class="form-label w-auto" for="year_select">Issues for:</label>&nbsp; {{select_year_form.year}}
        </form></div>
    <div class="col-md-4">
        <p class="issues_single">Single edition</p>
    </div>
    <div class="col-md-4">
        <p class="issues_multiple">Multiple editions</p>
    </div>
</div><!-- /row -->
        
        {% endblock extra_nav %}

        {% block newspaper_content %}
            
                {{year_view|safe}}
            
        {% endblock newspaper_content %}

       
    </div><!-- end id:std_box -->
{% endblock subcontent %}

