<!-- For pages like:
    http://BASE_URI/lccn/sn83045350/marc/ -->

{% extends "__l_newspaper.html" %}

{% load static from staticfiles %}

{% block head_extra %}
{{ block.super }}
    <link rel="alternate" 
          type="application/marc+xml" 
          href="{% url 'openoni_title_marcxml' title.lccn %}" />

{% endblock head_extra %}

{% block newspaper_content %}

{% autoescape off %}
{{title.marc.html}}
{% endautoescape %}

<br />
 
<div class="xml_link"> 
<a href="{% url 'openoni_title_marcxml' title.lccn %}">XML</img>
</a>
</div>

<br />

{% endblock %}
