<!-- http://BASE_URL/newspapers/ -->

{% extends "__l_main.html" %}
{% load custom_filters %}
{% load static from staticfiles %}
{% load humanize %}

{% block head_extra %}
<link rel="alternate" title="Newspapers Atom Feed" href="{% url 'openoni_newspapers_atom' %}" />
<link rel="alternate" title="Newspapers JSON Feed" href="{% url 'openoni_newspapers_format' "json" %}" />
<link href="{% static 'css/tablesort.css' %}" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block subcontent %}
{% if titles.count > 0 %}

<div class="search_results_body">
    <div class="results_nav">
        <div class="row">
            <div class="col-md-6 form-inline">
                <label for="filterTitles">Search Titles: </label>
                <span id="filterTitlesHelp" class="help-block">
                    Type a partial title to show only those which match below
                </span>
                <input type="text" id="filterTitles" class="form-control"
                    aria-describedby="filterTitlesHelp"
                    placeholder="Start typing to search..." />
                <button type="reset" id="resetTitles" class="btn btn-primary">
                    Reset
                </button>
            </div>
            <div class="col-md-6">
                <p>Titles available: {{ titles.count|intcomma }}</p>
                <p>Pages available: {{ page_count|intcomma }}</p>
            </div>
        </div>
    </div>
    <table id="newspapers" class="table table-striped table-hover browse_collect tablesorter" cellspacing="0" summary="">
        <thead>
        <tr>
            <th scope="col" class="left_no_border">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Publication Info</th>
            <th scope="col">Browse Issues</th>
            <th scope="col">No. of Issues</th>
            <th scope="col">Earliest Issue</th>
            <th scope="col">Latest Issue</th>
        </tr>
        </thead>
        <tbody>
        {% for title in sorted_titles %}
            <tr>
                <th class="first left_no_border" scope="row">
                    <a href="{% url 'openoni_title' title.lccn %}">{{title.display_name}}</a>
                </th>
                <td>
                    {% for place in title.places.all %}
                        {{ place.get_city_county }}<br/>
                    {% endfor %}
                </td>
                <td>{{title.place_of_publication}}, {{title.start_year}}-{{title.end_year}}</td>
                <td><a href="{% url 'openoni_issues_title' title.lccn %}" shape="rect"><img src="{% static 'images/calendar_icon.gif' %}" alt="calendar"/></a></td>
                <td>{{title.issues.count}}</td>
                <td><a href="{% url 'openoni_issue_pages' title.lccn title.first 1 %}">{{title.first|date:'Y-m-d'}}</a></td>
                <td class="last"><a href="{% url 'openoni_issue_pages' title.lccn title.last 1 %}">{{title.last|date:'Y-m-d'}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="txt_wrapper">
        <p class="backtotop"><a href="#skip_menu">Top</a></p>
    </div>
</div><!-- end class:search_results_body -->
{% else %}
<h2>No Results</h2>
{% endif %}
{% endblock subcontent %}


{% block javascript %}{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/jquery/js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
    // Customization for tablesorter. Works in conjunction with jquery.tablsorter.min.js

    // add parser through the tablesorter addParser method 
    $.tablesorter.addParser({ 
        // set a unique id 
        id: 'titles', 
        is: function(s) { 
            // return false so this parser is not auto detected 
            return false; 
        }, 
        format: function(s) {
            // format your data for normalization
            s = $.trim(s)  //Make sure there are no leading spaces
            s = s.toLowerCase();
            s = s.replace(/^the /, '');
            s = s.replace(/^an? /, '');
            return s;
        },
        type: 'text' 
    }); 

    $(document).ready(function() { 
        $("#newspapers").tablesorter({ 
            headers: { 
                // When sorting by titles, use the title formatter so we skip "the", "a", and "an"
                0: { sorter: 'titles' },

                // Don't offer sorting on the "browse issues" link
                3: { sorter: false },
            }, 
            widgets: ['zebra'],

            // Default to sorting by title
            sortList: [[0,0]]
        });

        $("#filterTitles").keyup(function() {
            var searchText = $(this).val().toLowerCase();
            $.each($("#newspapers tbody th"), function() {
                if($(this).text().toLowerCase().indexOf(searchText) === -1)
                    $(this).parent().hide();
                else
                   $(this).parent().show();
            });
        });
        $("#resetTitles").click(function() {
            $("#filterTitles").val("");
            $.each($("#newspapers tbody tr"), function() {
                $(this).show();
            });
        });

    });
</script>

{% endblock javascript %}
