<!DOCTYPE html>
{% load static from staticfiles %}
{% load humanize %}
{% load custom_tags %}

<html lang="en">
  <head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
  {% block head_content %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page_title %}{{page_title}} « {% endif %}{% if site_title %}{{site_title}} « {% endif %}</title>
    
<!-- ===========
CSS FILES
============= -->
    
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  
  <!-- Local CSS -->
  <link href="{% static 'css/highlights.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/tablesort.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    
<!-- ===========
JS FILES
============= -->

    <!-- additional scripts loaded at the bottom: Jquery, Jquery UI, Bootstrap -->
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


<!-- ===========
Metadata Etc.
============= -->

    {% block lc_metadata %}{% endblock lc_metadata %}
    <link title="NDNP Page Search" href="{% url 'openoni_search_pages_opensearch' %}" rel="search" type="application/opensearchdescription+xml" />
    <link title="NDNP Title Search" href="{% url 'openoni_search_titles_opensearch' %}" rel="search" type="application/opensearchdescription+xml" />

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Extra head data from other pages will be included here -->
    {% block extrahead %}{% endblock extrahead %}
  
    {% endblock head_content %}
  </head>

  <body role="document">
    {% block body_content %}

      <!-- ===========
      HEADER
      ============= -->

      <!-- Site Title/Head -->
      
      {% block header_title %}
        <div class="header_title">
          <div class="container">
            <h1 class="title">{{ site_title }}</h1>
          </div>
        </div><!-- /header -->
      {% endblock header_title %}
      <nav class="navbar navbar-inverse">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>


          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li><!--TODO: Is this linked properly? -->
              <li><a href="{% url 'openoni_newspapers' %}">Newspapers</a></li>
              <li><a href="{% url 'openoni_about' %}">About</a></li>
              <li><a href="{% url 'openoni_about_api' %}">API</a></li>
              <li><a href="{% url 'openoni_issues' %}">Browse by Date</a></li>
              {# <li><a href="{% url 'openoni_reports' %}">Reports</a></li> <!-- Commenting out because reports should not be available to public -->  #}
              <li><a href="/help/">Help</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="nav_advanced_search"><a href="{% url 'openoni_search_advanced' %}">Advanced<br/>Search</a></li>
            </ul>
          
            <form class="form-inline navbar-form navbar-right"  action="{% url 'openoni_search_pages_results' %}" method="get">
              <div class="form-group">
                <input type="hidden" name="rows" id="rows" alt="rows" value="20" />
                <input type="hidden" name="searchType" alt="searchType" value="basic" />
                <input class="form-control" type="text" name="proxtext" placeholder="search words">
              </div><!-- /form-group -->

              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"><span class="search_text">Search</span></span>
              </button>
            </form>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <!-- ===========
      MAIN CONTENT
      ============= -->

      <div class="container main_content">
        {% if crumbs and crumbs|length > 1 %}

          <ol class="breadcrumb">
            {% for crumb in crumbs %}
              <li {% if crumb.active %}class="active"{% endif %}>
                <a href="{{crumb.href}}">{{crumb.label}}</a>
              </li>
            {% endfor %}
          </ol>
        {% endif %}

        {% block content %}
          {% block page_head_container %}
            {% block page_head %}
              {% block sub_page_head %}
                {% if page_title %}
                  <h1>{{ page_title }}</h1>
                {% endif %}
              {% endblock sub_page_head %}
            {% endblock page_head%}
          {% endblock page_head_container %}
          <div>
            <a name="skip_menu"></a>{% block main_content %}{% endblock main_content %}
          </div>
          {% block subcontent %}{% endblock subcontent %}
        {% endblock content %}
      </div><!--/main_content -->
    {% endblock body_content %}

    <!-- ===========
    FOOTER
    ============= -->

    <div id="footer">
      <div class="container">
        <p>All your footer things like logos and such go here.</p>
        <p>Site created using <a href="https://github.com/open-oni/open-oni">open-oni</a> software, built off the Library of Congress's <a href="https://github.com/LibraryofCongress/chronam">chronam</a>.</p>

      </div><!-- /container -->
    </div><!-- /footer -->

    <!-- ===========
    Bottom loading javascripts
    ============= -->

    {% block javascript %}
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Highlighting JS (keyword search results and page views -->
      <script type="text/javascript" async="" src="{% static 'js/highlight.js' %}"></script>

      <!-- Bootstrap -->
      <script type="text/javascript" async="" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock javascript %}

    <script type="text/javascript">
      (function($) {
        function initPage() {
          $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
          }
        $(initPage);
      })(jQuery)
    </script>
  </body>
</html>
