<!-- for individual newspaper title pages e.g.:
        http://BASE_URL/lccn/sn83045350/ -->

{% extends "__l_newspaper.html" %}
{% load static %}
{% load custom_filters %}
{% load image_urls %}

{% block lc_metadata %}
{% with title.display_name as title_metadata %}
{% include "includes/lc_metadata.html" %}
{% endwith %}
{% endblock %}

{% block extra_link_types %}
<link rel="alternate" href="{% url 'openoni_title_dot_json' title.lccn %}" />
<link rel="alternate" type="application/json" href="{% url 'api_title' title.lccn %}" title="ChronAm JSON Title Data">
{% endblock %}

{% block newspaper_content %}
<div class="d-flex">
    <div>
      
        <dl class="alt">
            <dt>Title: </dt>
            <dd>
                {{title.display_name}} : ({{title.place_of_publication}}) {{title.start_year}}-{{title.end_year}}
                {% if title.essay %}
                <br/>
                
                <a href="{% url 'openoni_essay' title.essay.id %}">More About this Newspaper</a>
                {% endif %}
            </dd>
            
            {% if title.alt_titles.all %}
            <dt>Alternative Titles:</dt>
            <dd>
                <ul>
                    {% for alt in title.alt_titles.all %}
                    <li>
                        {{ alt.name }}
                        {% if alt.date %}
                        {{ alt.date }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
                        
            {% if title.place_of_publication %}
            <dt>Place of publication:</dt>
            <dd>{{title.place_of_publication}}</dd>
            {% endif %}
            {% if title.places %}
            <dt>Geographic coverage:</dt>
            <dd>
                <ul>
                    {% for place in title.places.all %}
                    <li>
                        {{ place.city }}, 
                        {% ifnotequal place.county None %}
                        {{ place.county }}, 
                        {% endifnotequal %}
                        {{ place.state }}
                        &nbsp;|&nbsp; View more titles from this: 
                        <a href="{% url 'openoni_city' place.state|pack_url place.county|pack_url place.city|pack_url %}">City</a>
                        {% ifnotequal place.county None %}
                        <a href="{% url 'openoni_county' place.state|pack_url place.county|pack_url %}">County</a>,
                        {% endifnotequal %}
                        <a href="{% url 'openoni_state' place.state|pack_url %}">State</a>
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if title.publisher %}
            <dt>Publisher:</dt>
            <dd>{{title.publisher}}</dd>
            {% endif %}
        
            {% if title.start_year or title_end_year %}
            <dt>Dates of publication:</dt>
            <dd>{{title.start_year|default:"?"}}-{{title.end_year|default:"?"}}</dd>
            {% endif %}
        
            {% if title.publication_dates.all %}
            <dt>Description:</dt>
            <dd>
                <ul>
                    {% for pd in title.publication_dates.all %}
                    <li>
                    {{ pd.text }}
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if title.frequency %}
            <dt>Frequency:</dt>
            <dd>{{ title.frequency }} 
                {% if title.frequency_date %}
                {{ title.frequency_date }}
                {% endif %}
            </dd>
            {% endif %}
        
            {% if title.languages.all %}
            <dt>Language:</dt>
            <dd>
            <ul>
                {% for lang in title.languages.all %}
                <li>
                    {{lang.name}}
                </li>
                {% endfor %}
            </ul>
            </dd>
            {% endif %}
                        
            {% if title.subjects.all %}
            <dt>Subjects:</dt>
            <dd>
                <ul>
                    {% for subject in title.subjects.all %}
                    <li>{{subject.heading}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if title.notes.all %}
            <dt>Notes:</dt>
            <dd>
                <ul>
                    {% for note in notes %}
                    <li>{{ note|safe }}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
            
            <dt>LCCN:</dt>
            <dd>{{title.lccn_orig}}</dd>
        
            {% if title.oclc %}
            <dt>OCLC:</dt>
            <dd>{{title.oclc}} </dd>
            {% endif %}                
        
            {% if title.issn %}
            <dt>ISSN:</dt>
            <dd>{{title.issn}}</dd>
            {% endif %}                
        
            {% if preceeding_titles %}
            <dt>Preceding Titles:</dt>
            <dd>
                <ul>
                {% for t in preceeding_titles %}
                    <li><a href="{% url 'openoni_title' t.lccn %}">{{t}}</a></li>
                {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if succeeding_titles %}
            <dt>Succeeding Titles:</dt>
            <dd>
                <ul>
                    {% for t in succeeding_titles %}
                    <li><a href="{% url 'openoni_title' t.lccn %}">{{t}}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if related_titles %}
            <dt>Related Titles:</dt>
            <dd>
                <ul>
                    {% for t in related_titles %}
                    <li><a href="{% url 'openoni_title' t.lccn %}">{{t}}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            {% if title.urls.all %}
            <dt>Related Links:</dt>
            <dd>
                <ul>
                    {% for u in title.urls.all %}
                    <li><a href="{{u.value}}">{{u.value}}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        
            <dt>Holdings:</dt>
            <dd>
                
                <p>Check OCLC WorldCat for more information on <a class="external" href="http://www.worldcat.org/search?qt=worldcat_org_all&q='{{ title.lccn_orig }}'">this title</a>.</p>
            </dd>
        
            
            <dt>MARC</dt>
            <dd><a id="page_nav_marc" href="{% url 'openoni_title_marc' title.lccn %}">Record</a></dd>
        </dl>

    </div><!-- /col-md-7 -->

    <div>
        {% if title.has_issues %}
        <div class="about_issue_right d-flex flex-column">
            <div class="frontpage">
            {% if title.first_issue.first_page_with_image.jp2_filename and title.first_issue.first_page_with_image.sequence %}
            <a href="{% url 'openoni_page' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page_with_image.sequence %}">
                <img class="thumbnail" src="{% thumb_image_url title.first_issue.first_page_with_image %}" alt="Cover image from first issue of {{title.display_name}} Links to first issue." />
              <p class="mt-3">{{title.display_name}}&nbsp;{{issue_date|date:"F j, Y"}}, Image {{title.first_issue.first_page.sequence}}</strong></p>
            </a>
            </div><!-- /frontpage -->
            {% else %}
                <p>Missing Page: {{explanation}}</p>
                 <a href="{% url 'openoni_page' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page_with_image.sequence %}">
                    <p class="mt-3">{{title.display_name}}&nbsp;{{issue_date|date:"F j, Y"}}</p>
                </a>
            {% endif %}
        </div>
        {% endif %}
        <div class="about_issue_more">
            {% block essay %}
                <div class="title_essay">
                    {# if there is an essay in the database, display, otherwise check for a template #}
                    {% if first_essay %}
                        {# older essays in db include title as separate field #}
                        <h4>{{first_essay.title}}</h4>
                        <p>{{first_essay.html|safe}}</p>
                        <p><em>Provided by: <a href="{% url 'openoni_awardee' first_essay.creator.org_code %}">{{ first_essay.creator }}</a></em></p>
                    {% elif essay_template|template_exists %}
                        {% include essay_template %}
                    {% endif %}
                </div>
            {% endblock essay %}
        </div>
    </div><!-- /col_md_5 -->
</div><!-- /row -->
{% endblock %}

