{% extends "__base.html" %}

{% load static %}

{% comment %}
  To customize your installation, create a new "__overrides.html" file in the
  appropriate theme location and override blocks of code from "__base.html."

  Please see "/docs/customization/theme.md" for information about the
  available template blocks and overriding recommendations.
{% endcomment %}

{% block head_site_meta %}
  {{ block.super }}
  {# Add theme's favicon to sitewide meta tags #}
  <link href="{% static 'images/favicon.png' %}" rel="icon" sizes="192x192">
{% endblock head_site_meta %}

{% block head_page_meta %}
  {# Set default author and description for page meta tags #}
  <meta name="author" content="The author of this site">
  <meta name="description" content="A site for newspapers">
{% endblock head_page_meta %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head_page_css %}
