/* ==============
search creation 
and search results
=============== */

.alpha_tag {
    display: inline-block;
    list-style-type: none;
}

.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-top {
  margin-top: 1em;
}

.date_form input {
  width: 100%;
}

.highlight_words div {
  margin: 0px;
  padding: 3px 1px;
  background:transparent; /* fallback for browsers not supporting rgba */
  background: rgba(255, 0, 0, 0.4);
}

.pagination {
    margin:0;
}

.form-actions {
    padding:20px 0;
}

.search_results_ctrl,
.search_results_option_set {
  margin-bottom: 1em;
}
