/* ==============
search creation 
and search results
=============== */

.alpha_tag {
    display: inline-block;
    list-style-type: none;
}

.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-top {
  margin-top: 1em;
}

.pagination {
    margin:0;
}

.form-actions {
    padding:20px 0;
}
