.tablesorter {
  border-collapse:collapse;

  td, th {
    border-left: 1px solid #ccc;
  }

  tr {
    .header {
      background-image: url(../images/bg.gif);
      background-repeat: no-repeat;
      background-position: left center;
      cursor: pointer;
      padding-left: 20px;
    }

    .headerSortDown {
      background-image: url(../images/desc.gif);
    }

    .headerSortUp {
      background-image: url(../images/asc.gif);
    }
  }

  .left_no_border {
    border-left: None;
  }
}
