.tablesorter {
  border-collapse: collapse;

  td, th {
    border-left: 1px solid #ccc;
  }

  .tablesorter-header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    padding-left: 20px;

    &.tablesorter-headerAsc {
      background-image: url(../images/asc.gif);
    }

    &.tablesorter-headerDesc {
      background-image: url(../images/desc.gif);
    }

    &.sorter-false {
      background-image: none;
      cursor: default;
    }
  }

  .left_no_border {
    border-left: none;
  }
}
